@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Family */

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('./assets/fonts/HelveticaNowText-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('./assets/fonts/HelveticaNowText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('HelveticaNowText-Light.eot');
  src: url('./assets/fonts/HelveticaNowText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('./assets/fonts/HelveticaNowText-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('./assets/fonts/HelveticaNowText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica Now Text';
  src: url('./assets/fonts/HelveticaNowText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
